//- Template for create new event

extends ../layouts/base

block intro
    h1 create new event

block content
    h3 Event Details
    if isCreated == false
        form(name='event-details', method='post')
            input(type='hidden', name='action', value='create-event')
            div.input
                span.label Name
                input(type='text', name='name')
            div.input
                span.label Number of participants
                input(type='text', name='num')
            div.input
                span.label List of Participants' emails
                textarea(name='emails', rows='10', cols='50')
            div.actions
                input(type='submit', value='add')
    else
        div
            h4 Event created