//- Template for create new event

extends ../layouts/base


block intro
    h1 Create new event

block content
    .container-fluid: .row: .col-md-12
        if isCreated == false
            if errMsg
                h4= errMsg
            h3.row: .col-md-6 Event Details
            form(name='event-details', method='post')
                input(type='hidden', name='action', value='create-event')
                .form-group
                    label(for='name') Name
                    input.form-control(type='text', name='name')
                .form-group
                    label(for='categories') Categories
                    textarea.form-control(name='categories')
                .form-group
                    label(for='csv') CSV
                    textarea.form-control(name='csv', rows='10', cols='50')
                .checkbox
                    label(for='hasHeader')
                        input(type='checkbox', name='hasHeader')
                        | My data has a header row
                button.btn.btn-default(type='submit') Submit

        else
            h3 Event successfully created
            div
                if failedEmails
                    h4 Invalid Emails:
                    ul
                        for email in failedEmails
                            li= email
                if failedCategories
                    h4 Invalid Categories:
                    ul
                        for user in failedCategories
                            li #{user.email}: #{user.category}
