//- Template for event

extends ../layouts/base
 
block intro
    //- h1= eventname

block content
    h3#loading Loading...
    button#record Record
    button#stop Stop
    #threejs(tabindex="1")
    #chatbox-wrapper
        #chatbox
            ul#chatmessages
                li Hello World!
        form#chatsubmit(tabindex="2")
            .input-group
                input#chat.form-control(type="text")
                span.input-group-btn
                    button.btn.btn-default(type="submit") Send


block css
    link(rel="stylesheet" href="/css/style.css" type="text/css")

block js
    script(src="/socket.io/socket.io.js")
    script(src="/js/threejs/three.js")
    script(src="/js/threejs/Detector.js")
    script(src="/js/threejs/FirstPersonControls.js")
    script(src="/js/threejs/OrbitControls.js")
    script(src="/js/threejs/threex.keyboardstate.js")
    script(src="/js/binaryjs/binary.min.js")
    //- script(src="/js/babel/babel-browser.min.js")
    script(src="/js/bundle.js")