//- Template for event

extends ../layouts/base
 
block intro
    h1= eventname

block content
    #threejs

block css
    link(rel="stylesheet" href="/css/style.css" type="text/css")

block js
    script(src="/socket.io/socket.io.js")
    script(src="/js/three.js")
    script(src="/js/Detector.js")
    script(src="/js/OrbitControls.js")
    script(src="/js/threex.keyboardstate.js")
    script(src="/js/index.js")