//- Base layout for view templates

include ../mixins/flash-messages
 
doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport", content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width")
        
        title= title || "My Keystone Website"
        link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
        
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous")

        script(src="//code.jquery.com/jquery-1.12.0.min.js")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous")

        block css
        block head
    body
        nav: .navbar.navbar-default
            .container-fluid
            .navbar-header: a.navbar-brand(href="/") vPoster
            .collapse.navbar-collapse: ul.nav.navbar-nav.navbar-right
                each link in navLinks
                    li: a(href=link.href)= link.label
                if user
                    if user.canAccessKeystone
                        li: a(href="/keystone") Open Keystone
                    li: a(href="/dashboard") Dashboard
                    li: a(href="/keystone/signout") Sign Out
                else
                    li: a(href="/keystone/signin") Sign In
            
        #body
            
            .container-fluid
                block intro
            
            +flash-messages(messages)
            
            block content
        
        #footer.container-fluid Powered by <a href="http://keystonejs.com", target="_blank">KeystoneJS</a>.

    block js