#chatbox{
  height: 20em;
}

#chatmessages{
  overflow-y: auto;
  height: 100%;
  margin-top: 5px;
  color: #000000;
  list-style-type: none;
  padding-left: 3px;
}

#chatsubmit{
  margin-top: 5px;
  bottom: 0px;
  width: 100%;
}

#chat{
  color: #000000;
}

.sysmsg{
  color: #888888;
  font-style: italic;
}